*{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

body{
    background-image: url('assets/grey.png');
    background-size: cover;
    width: 100%;
    max-height: fit-content;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}



.pageContainer{
    overflow-x: hidden;
}


.vcontainer{
    width: 65%;
    height: 25%;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: 55px;
}


video{
        width: 100%;
        height: auto;
        border: 7px solid goldenrod;

}



.novatext{
    position: relative;
    top: 140px;
    font-size: 30px;
    left: 10px;
    background: linear-gradient(to right, #000000, #000000,#8c7701);
    color: white;
    border: 9px double goldenrod;
    padding: 13px;
    width: 70%;
    text-align: center;
}




.cardcontainer{
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    top: 150px;
    gap: 30px;
    border-radius: 10px;
    flex-wrap: wrap;
    
}


.cardcontainer h2{
    position: absolute;
    top: 340px; 
    font-size: 25px;
    color: rgb(99, 72, 2);
    text-decoration:underline;
  }

  .cardcontainer li a {
    position: relative;
    top:430px;
    background-color: white;
    color:black;
    font-size: 30px;
    padding: 10px 5px 10px;
    display: block;
    width: 150px;
    text-align: center;
    border-radius: 1rem;
}



.cardcontainer li a:hover{
    background-color: black;
    color: goldenrod;
    transition: all;
    font-size: 35px;
    transition: 1s ease-in;
    padding: 15px 10px;
    
}

/*return*/

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Spacing between cards */
}

.card1, .card2, .card3 {
    background-color: black;
    color: white;
    width: 30%;
    height: 700px;
    margin: 10px;
    border-radius: 17px;
}

.card2 {
    order: 3; /* Moves card2 to the end */
    
}

.card3 {
    order: 2; /* Keeps card3 in the center */
    width: 25%;

}


.card1:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 1s ease-in;
}


.card1 p{
    position: relative;
    top: 380px; 
    font-size: 21px;
    white-space: normal; /* Allows text to wrap */
    word-wrap: break-word;
    left: 15px;
  }


.card2:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 1s ease-in;
}


.card2 p{
    position: relative;
    top: 380px; 
    font-size: 21px;
    white-space: normal; /* Allows text to wrap */
    word-wrap: break-word;
    left: 15px;
  }


.card3:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 1s ease-in;
}

.card3 p{
    position: relative;
    top: 380px; 
    font-size: 21px;
    white-space: normal; /* Allows text to wrap */
    word-wrap: break-word;
    left: 20px;
    color: white;

  }


.card3:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 1s ease-in;
}




.cardimg{
    background-color: goldenrod;
    height: 310px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 17px;
}

.JHB{
    background-image: url('assets/JHBblack.png');
}
.Cape1{
    background-image: url('assets/Capeblack.png');
}

.JHB:hover{
    background-image: url('assets/JHB.png');
    transition: all 1s ease-in;
}
.Cape1:hover{
    background-image: url('assets/Cape.jpg');
    transition: all 1s ease-in;
}




.ftitle{
    color: yellow;
    text-shadow: 0 0 10px rgba(7, 7, 7, 0.319), 0 0 15px rgba(11, 11, 11, 0.199), 0 0 20px rgba(0, 0, 0, 0.237);
    font-size: 80px;
    position: relative;
    top:200px;
    left:1000px;

}

.Jimgcontainer{
    position: relative;
    top:240px;
    right:540px;
    width: 28%;
    height: 10px;
}

img{
    position: relative;
    width: 80%;
    height: auto;
}

.Jinfocontainer{
    position: relative;
    width:70%;
    left:460px;
    top:230px;
    height:10px;
}

img{
    position: relative;
    width: 80%;
    height: auto;
}

::-webkit-scrollbar {
    width: 10px; 
    height: 3px; 
}


::-webkit-scrollbar-track {
    background: black
}

::-webkit-scrollbar-thumb {
    background: goldenrod; 
    border-radius: 2px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
